<h3><%= @museum.museum_name %></h3>
<%= attachment_image_tag @museum, :image, :fill, 500, 350 %>
<br>
<p><%= @museum.museum_detail %></p>
<br>

<% if current_user.admin_flg? %>
                <%= link_to "Edit", edit_museum_path(@museum) %>
				<%= link_to "Delete", museum_path(@museum), method: :delete %>
            <% elsif current_user %>
                <%= link_to "Favorite", add_museum_path(@museum), method: :post %>
            <% else %>
            
<% end %>
