<!DOCTYPE html>
<html>
  <head>
    <title>MUSEUM</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  	<header>
  		<nav>
  			<% if user_signed_in? %>
                <strong>Welcom<%= link_to current_user.username, user_path(current_user.id) %></strong>
                <%= link_to 'Modification of Registration content', edit_user_registration_path %>
                <%= link_to 'Logout', destroy_user_session_path, method: :delete %>
                <%= link_to 'Top', root_path %>
            <% else %>
                <%= link_to 'Sign Up', new_user_registration_path %>
                <%= link_to 'Login', new_user_session_path %>
                <%= link_to 'Top', root_path %>
                <% end %>
  		</nav>
  	</header>
  	<p class="notice"><%= notice %></p>
 	<p class="alert"><%= alert %></p>

    <%= yield %>

  </body>
  <footer style="margin: 0 auto;">
    <%= link_to 'Terms of Service', termsofservice_path %>
    <%= link_to 'Sitepolicy', sitepolicy_path %>
    <p>© 2018 BAM Inc.</p>
  </footer>
</html>
